<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 指定以log4j控制日志打印 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	
	<typeAliases>
		<package name="tst.project.bean" />
	</typeAliases>
	<plugins>
	<plugin interceptor="tst.project.page.MySqlPagingInterceptor"></plugin>
	
	</plugins>
	
</configuration>

